<!DOCTYPE html>
<html lan="zh-cn">

<head>
    <meta charset="UTF-8">
    <style>
        .active {
            color: red
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
           {{incomes}}
            <button v-on:click="fill">填充</button>
        </div>
        <table>
            <tr>
                <th v-for='(item,ind) in columnList' :key="ind">{{item}}</th>
            </tr>
            <tr v-for="(item, index) in incomes">
                <th>{{index+1}}月</th>
                <th><input type="number" v-model.number="incomes[index]"></input></th>
                <th><input type="number" v-model="spectial_deduction[index]"></input></th>
                <th><input type="number" v-model="spectial_addtion_deduction[index]"></input></th>
                <th><input type="number" v-model="not_tex[index]"></input></th>
                <th>{{sum_income[index]}}</th>
                <th>{{sum_spectial_deduction[index]}}</th>
                <th>{{sum_spectial_addtion_deduction[index]}}</th>
                <th>{{sum_not_tex[index]}}</th>
            </tr>
        </table>
        <div v-for="(item, index) in incomes">
            {{index+1}}月
            税前收入<input type="number" v-model="incomes[index]"></input>
            税前应扣<input type="number" v-model="spectial_deduction[index]"></input>
        </div>
        <button v-on:click="cal_salary">计算</button>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue(
            {
                el: "#app",
                data() {
                    return {
                        columnList: ['月份','当月税前收入', '专项扣除', '专项附加扣除', '减除费用','累计收入','累计专项扣除','累计专项附加扣除','累计减除费用'],
                        
                        incomes: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                        sum_income: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],

                        spectial_addtion_deduction: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                        sum_spectial_addtion_deduction: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],

                        spectial_deduction: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                        sum_spectial_deduction: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],

                        sum_tex: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        tex: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],

                        sum_not_tex: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
                        not_tex: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1],

                        rec_sum: 0,

                        tex_per_month: [],
                        fill_income: 0
                    }
                },

                methods: {
                    caltex(income, spectial_deduction, spectial_addtion_deduction, notexSum, cal_tex_before) {
                        console.log(income, spectial_deduction, spectial_addtion_deduction, notexSum, cal_tex_before)
                        should = income - spectial_deduction - spectial_addtion_deduction - notexSum - cal_tex_before
                        should = should.toFixed(2)
                        console.log('should: ', should)
                        tex_table = [
                            [0, 0.03, 0],
                            [36000, 0.1, 2520],
                            [144000, 0.2, 16920],
                            [300000, 0.25, 31920],
                            [420000, 0.3, 52920],
                            [660000, 0.35, 85920],
                            [960000, 0.45, 181920],
                            [10000000000000000, 0.45, 181920]
                        ]
                        for (let i = 0; i < tex_table.length; i++) {
                            if (tex_table[i][0] < should && should <= tex_table[i + 1][0]) {
                                console.log(tex_table[i])
                                tex = should * tex_table[i][1] - tex_table[i][2]
                                console.log("tex", tex)
                                should_tex = tex - texSum
                                console.log("should_tex", should_tex)
                                return Number.parseFloat(should_tex).toFixed(2);
                            }
                        }
                    },
                    cal_sum_single(list) {
                        temp_list = []
                        for (let i = 0; i < list.length; i++) {
                            let t = Number.parseFloat(list[i])
                            if (i == 0) {
                                temp_list.push(t)
                            } else {
                                temp_list.push(list[i - 1] + t)
                            }
                        }
                        return temp_list
                    },
                    cal_sum() {
                        this.sum_income = this.cal_sum_single(this.sum_income)
                        this.sum_not_tex = this.cal_sum_single(this.sum_not_tex)
                        this.sum_spectial_deduction = this.cal_sum_single(this.sum_spectial_deduction)
                        this.sum_spectial_addtion_deduction = this.cal_sum_single(this.sum_spectial_addtion_deduction)
                    },
                    cal_month_salary() {
                        for (let i = 0; i < this.incomes.length; i++) {
                            cur_tex = this.caltex(this.sum_income[i], this.sum_spectial_deduction[i], this.sum_spectial_addtion_deduction[i], this.sum_not_tex[i], sum_tex[i])
                            if (i == 0) {
                                sum_tex[i] = cur_tex
                            } else {
                                sum_tex[i] = sum_tex[i] + cur_tex
                            }
                        }
                    },
                    cal_salary() {
                        this.cal_sum();
//                        this.cal_month_salary()
                    },
                    fill_single(list) {
                        list2 = []
                        list2.push(list[0])
                        for (let i = 1; i < list.length; i++) {
                            if (list[i] == -1) {
                                list[i] = list[i - 1]
                                list2.push(list[i - 1])
                            } else {
                                list2.push(list[i])
                            }
                        }
                        return list2
                    },
                    fill() {
                        this.incomes = this.fill_single(this.incomes)
                        this.spectial_addtion_deduction = this.fill_single(this.spectial_addtion_deduction)
                        this.spectial_deduction = this.fill_single(this.spectial_deduction)
                        this.not_tex = this.fill_single(this.not_tex)
                    },
                    fresh() {
                        for (let i = 0; i < this.incomes.length; i++) {
                            let income = Number.parseFloat(this.incomes[i])
                        }
                    }
                },
            }
        )
    </script>
</body>

</html>